$RAbackground: #435761;
$RAelements: #303e45;
$RAtext: #dfe5e8;
$RAborder: #607d8b;
$RAlight: lighten( $RAbackground, 10% );
$RAdark: darken( $RAbackground, 10% );
$RAhighlight: lighten( $RAtext, 30% );

$RAclear: #706f6f;
$RAsuccess: #37BC9B;
$RAinfo: #3BAFDA;
$RAdanger: #E9573F;
$RAwarnig: #F6BB42;