$primary: #1f4068 !default;

$background: lighten($primary, 51%) !default;
$shadows: darken($primary, 10%) !default;

$text: darken($primary, 40%) !default;
$text-highlight: lighten($text, 80%) !default;

$link: $text !default;
$link-highlight: lighten($link, 10%) !default;

$element: $primary !default;
$element-text: lighten($element, 40%) !default;
$element-text-highlight: lighten($element-text, 10%) !default;
$element-border: darken($element, 10%) !default;

$neutral: #706f6f !default;
$success: #37BC9B !default;
$info: #3BAFDA !default;
$danger: #E9573F !default;
$warning: #F6BB42 !default;