%style{media: "screen"}
    div#sidebar-wrapper div.sidebar-nav li.dropdown-header {padding-left: 0px}
    div.sub-menu-container li.sub-menu a.pjax {padding-left: 0px}
    div#wrapper div#sidebar-wrapper {overflow: hidden}
