@import 'selectize';
@import 'selectize.bootstrap3';
@import 'thecore_ui_commons/thecore';
@import 'rails_admin/custom/theming-custom-1';
@import 'rails_admin/custom/theming-custom-2';
@import 'rails_admin/custom/theming-custom-3';
@import 'rails_admin/custom/theming-custom-4';
@import 'rails_admin/custom/theming-custom-5';

.form-control.selectize-control {
    width: 62%;
}

#secondary-navigation .navbar-nav li {
    display: none;
    &:nth-last-of-type(2), &:last-of-type {
        display: block !important;
    }
}

#list form .well {
    background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}