/*
  Customize RailsAdmin theme here.
  Copy this file to your app/assets/stylesheets/rails_admin/custom/theming.scss, leave this one untouched
  Don't require it in your application.rb

  Look at the markup in RailsAdmin and go there to get inspiration from:

  http://getbootstrap.com

  Test me: (actual color should be the one defined in variables.scss if you did)

  body { background-color: $link-color; }
*/

/* Thecore Theming */

@import 'thecore_ui_commons';
@import 'rails_admin/custom/variables';
@import 'rails_admin/custom/mixins';
@import 'thecore_ui_commons/alerts';
@import 'rails_admin/custom/dashboard';

header h1,
.nav li[class$="_root_link"] {
    display: none;
}

header.py-2.m-2.border-bottom {
    border-bottom: none !important;
}

.breadcrumb {
    background-color: $primary;
    text-transform: uppercase;
    color: $body-bg !important;
    border-radius: 2em;
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;

    .breadcrumb-item {

        a,
        &.active,
        &+.breadcrumb-item::before {
            color: white !important;
        }
    }
}

.card.bg-light {
    background-color: $body-bg !important;
    border:none!important;
}

input, select, textarea {
    &.form-control, &.form-check-input {
        background-color: $background!important;
    }
}

body > div.container-fluid > div > div.col-sm-3.col-md-2.flex-wrap.p-0,
body > div.container-fluid > div > div.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2 {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition:    all 1s ease-in-out;
  -o-transition:      all 1s ease-in-out;
  -ms-transition:     all 1s ease-in-out;
  transition:         all 1s ease-in-out;
}

.navbar-brand-logo {
    height: 1.7em;
}

@import 'rails_admin/custom/thecore/theming';
