@import 'selectize';
@import 'selectize.bootstrap3';
@import 'thecore_ui_commons/thecore';
@import 'rails_admin/custom/theming-custom-1';
@import 'rails_admin/custom/theming-custom-2';
@import 'rails_admin/custom/theming-custom-3';
@import 'rails_admin/custom/theming-custom-4';
@import 'rails_admin/custom/theming-custom-5';

body.rails_admin .sidebar-nav {
    background-color: $shadows !important;

    a {

        color: white !important;

        i,
        span {
            padding-right: .5em !important;
            color: white !important;
        }
    }
}

body.rails_admin .sidebar-nav>.nav-stacked>li>a {
    padding: 6px 15px 6px 25px !important;

    &:hover,
    &:focus {
        background-color: $text !important;
    }
}

body {
    background-color: $background !important;
}

.navbar-default {
    background-color: $background !important;
    border-color: $background !important;

    .navbar-brand {
        color: $primary !important;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 2em;
    }

}

.content {
    padding-right: 1em;
    padding-left: 1em;
}

// .form-control.selectize-control {
//     width: 62%;
// }

#secondary-navigation .navbar-nav li {
    display: none;

    &:nth-last-of-type(2),
    &:last-of-type {
        display: block !important;
    }
}

#list form .well {
    background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.pagination>li>a,
.pagination>li>span,
a {
    color: $primary;
}

.pagination>.active>a,
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span,
.pagination>.active>span:hover,
.pagination>.active>span:focus,
.btn-primary {
    color: $background;
    background-color: $primary;
    border-color: $primary;
}

.btn-primary:hover {
    background-color: $text;
    border-color: $text;
}

.btn-info {
    color: $background;
    background-color: $shadows;
    border-color: $shadows;
    &:hover {
        background-color: $primary;
    }
}

.open > .btn-info.dropdown-toggle {
    color: $background;
    background-color: darken($shadows, 10%);
    border-color: darken($shadows, 10%);
}

.btn-info.disabled, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled:active, .btn-info.disabled.active, .btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled]:active, .btn-info.active[disabled], fieldset[disabled] .btn-info, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info.active {
    background-color: lighten($shadows, 30%);
    border-color: lighten($shadows, 30%);
}

li a .label-danger {
    background-color: $primary;
    margin-right: 1em;
}

.breadcrumb {
    // margin-top: 1em;
    // margin-bottom: 2.5em;
    background-color: $primary;
    text-transform: uppercase;
    color: $background !important;
    border-radius: 2em;
}

.breadcrumb .active, .breadcrumb .active:before {
    color: $background !important;
}

.breadcrumb .false a, .breadcrumb .false:before {
    color: white !important;
}

#fields_to_export .form-group {
    margin-left: 0;
    margin-right: 0;
}

// .input-group {
//     display: block;
// }