<span class="hide-toolbar"></span>

<iframe class="sidekiq-monitor" src="/sidekiq" title="Background Processes Monitor" frameborder="0"
    allow="accelerometer; clipboard-write; encrypted-media; gyroscope;" allowfullscreen style="width:100%;"
    scrolling="no" onload="adjustIframe(this)"></iframe>
