<%= form_for(@object, url: change_password_path, html: { method: :patch }, class: "main") do |f| %>

    <fieldset>
        <div class="control-group row mb-3 string_type password_field " id="user_password_field">
            <label class="col-sm-2 col-form-label text-md-end" for="user_password">Password</label>
            <div class="col-sm-10 controls">
                <input class="form-control" required="required" size="50" type="password" name="user[password]" id="user_password">
                <div class="form-text"><%=t('admin.form.required')%></div>
            </div>
        </div>
        <div class="control-group row mb-3 string_type password_confirmation_field " id="user_password_confirmation_field">
            <label class="col-sm-2 col-form-label text-md-end" for="user_password_confirmation">Password Confirmation</label>
            <div class="col-sm-10 controls">
                <input class="form-control" required="required" size="50" type="password" name="user[password_confirmation]" id="user_password_confirmation">
                <div class="form-text"><%=t('admin.form.required')%></div>
            </div>
        </div>
    </fieldset>
    <div class="form-actions row justify-content-end my-3">
        <div class="col-sm-10">
            <input name="return_to" type="hidden" value="<%=edit_path(@abstract_model, @object.id)%>">
            <button class="btn btn-primary" data-disable-with="Save" name="_save" type="submit">
            <i class="fas fa-check"></i>
            Save
            </button>
            <button class="btn btn-light" data-disable-with="Cancel" formnovalidate="true" name="_continue" type="submit">
            <i class="fas fa-times"></i>
            Cancel
            </button>
        </div>
    </div>
<% end %>
