<span class="hide-toolbar"></span>

<iframe class="thecore-blazer-bi" src="/blazer" title="Business Intelligence" frameborder="0"
    allow="accelerometer; clipboard-write; encrypted-media; gyroscope;" allowfullscreen style="width:100%; min-height:70vh"
    scrolling="no" onload="adjustIframe(this)"></iframe>